@font-face {
    font-family: Open Sans;
    src: url(../font/OpenSans-Regular.ttf);
}
html, body {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
  }
  
  h1 {
    /* letter-spacing: -15px; */
    font-family: 'Raleway',sans-serif;
    color: white;
    text-align: center;
    font-size: 200px;
    font-weight: 800;
    line-height: 200px;
  }
  
  .MainContainer {
    perspective: 1px;
    /* transform-style: preserve-3d; */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .ContentContainer {
      height: 100vh;
    position: relative;
    display: block;
    background-color: white;
    z-index: 0;
  }
  
  .Content {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0;
  }
  
  p {
    margin: 75px 0;
  }
  
  .ParallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background: url(../image/background.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    background-color: rgb(250,228, 216);
  }
  
 
  